.topbar {
    width: 100%;
    height: 75px;
    background-color: #7f867b;
    filter: drop-shadow(5px 5px 5px rgba(100, 105, 97, 1));
    position: fixed;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.componentsWrapper {
    position: fixed;
    width: 24%;
    display: flex;
    justify-content: space-between;
    left: 200px;

}
.componentsWrapper2{
    /* position: fixed; */
    width: 350px;



}

.title {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}
.components {
    padding-top: 9px;
    font-weight: bold;
    font-size: 15px;
    /* padding-left: 70px; */
    padding-bottom: 10px;
    color: #ffffff;
    cursor: pointer;
}

.icons {
    color: white;
    padding: 10px;
}

.icons:hover {
    background-color: rgb(53, 58, 58);
    cursor: pointer;
}

.dropdown{
    
    height:1.9rem;
}

.dropdown-menu{

    width: 20rem;
    text-align: center;
    color: relative;
    background-color: #7f867b;
    position: relative;

}
.dropdown-list{
    border-top: solid;
    text-align: center;
}
.dropdown-menu:hover{
    color: white;
    /* padding-top: 20px; */
    background:  #7f867b;
          
}
.components2{
    padding-top: 9px;
    /* padding-left: 50px; */
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;

}

.items{
    padding: 15px;
    font-size: 500;
    font-weight: 300;
    font-size: large;
}
.components2 {
    padding-top: 8px;
    
}

.dropdown2{

    height:1.9rem;
}



.dropdown-menu2{
    color: #ffffff;
    width: 20rem;
    text-align: center;
    color: relative;
    background-color: #7f867b;
    position: relative;

}
.dropdown-list2{
    border-top: solid;
    text-align: center;
}