.topbar {
    width: 100%;
    height: 75px;
    background-color: #84A98C;
    filter: drop-shadow(5px 5px 5px rgba(82, 121, 111, 1));
    position: fixed;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.componentsWrapper {
    padding-left: 135px;
    position: fixed;
    width: 15%;
    display: flex;
    justify-content: space-between;
    left: 100px;


}
.title {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}
.components {
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
}

.icons {
    color: white;
    padding: 10px;
}

.icons:hover {
    background-color: rgb(53, 58, 58);
    cursor: pointer;
}