.dash{
    width:100%;
    display: flex;
    justify-content: space-between;
    color: #000000;
    margin-top: 2%;
    height: 50%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    
   
}
.dash2{
  width:100%;
  display: flex;
  justify-content: space-between;
  color: #000000;
  margin-top: 2%;
  height: 50%;
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
}

.dashItem{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    flex: 1;
    height: 400px;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    
}
.dashItem{
    font-size:20px;
}

.bookImage{
    height: 18vmin;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bookTitle{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    /* margin: 10px 0px; */
    text-align: center;
   
}




.bookAuthor{
    font-size: 20px;
    
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;

}

.bookPrice{
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 200;
    text-align: center;

}

.buttonT{
    text-align: center;

}




/* CSS */
.button-32 {
  appearance: none;
  background-color: #AF9C8C;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}


.button-34:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-32:hover {
  background-color: #c7c7bb;
}

.button-32:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}
